* {
    font-family: 'Laila', sans-serif;
}
body {
    background-color: #FFFFFF;
}

nav ul li a {
    font-size: 1.4rem;
}
nav .nav-wrapper a {
    font-size: 1.4rem;
}
.custom-card {
    background-color: #B7C9A9;
    color: white;
}
.card-font {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
}
.card-font-author {
    font-size: 1.2rem;
    font-style: italic;
    color:rgb(0, 0, 0);
    font-weight: 400;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.custom-row {
position: relative;
width: 63.563%;
height: 60.938%;
margin-top: 4rem;
border-radius: 3rem;
}

.tabs .tab a{
    color:#000;
    font-size: 1rem;
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color:#eee;
    color:#000;
} /*Text color on hover*/

.tabs .tab a.active {
    background-color:#B7C9A9;
    color:rgb(0, 0, 0);
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:rgb(127, 151, 102);
} 

